.box {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  /* background-color: #000; */
}
.weatherContainer {
  /* width: 800px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.weatherContainer .leftContent {
  width: 500px;
  text-align: center;
  border-radius: 10px 0 0 10px;
  background-color: rgb(60, 4, 112);
}
.weatherContainer .rightContent {
  width: 500px;
  background-color: #000;
  border-radius: 0 10px 10px 0;
  padding: 1rem;
  border: 1px solid rgb(60, 4, 112);
  color: #fff;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}
.leftContent .search {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  align-items: center;
}
.search .searchBox {
  margin-right: 10px;
}
.searchBox input {
  padding: 10px;
  border-radius: 20px;
  width: 350px;
  transition: 0.5s;
  outline: none;
}
.searchBox input:focus {
  width: 360px;
  transition: 0.5s;
}

.searchIconContainer .searchIcon {
  font-size: 1.5rem;
  cursor: pointer;
}
.searchIconContainer button {
  padding: 5px 7px;
  border-radius: 50px;
  outline: none;
  border: none;
}
.weatherImgContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.weatherContainer .weatherImg {
  width: 250px;
}
.cityAndCelsius {
  margin: 2rem 0;
  color: #fff;
}
.cityAndCelsius .celsius {
  margin: 2rem 0;
}

.forecast {
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
  box-shadow: 1px 1px 30px 1px rgb(60, 4, 112);
  padding: 1rem;
}
.forecast .icons {
  font-size: 1.8rem;
}
.windSpeed h6 {
  font-size: 1rem;
}
.windTitle h6 {
  font-size: 0.7rem;
}

@media screen and (max-width: 999px) {
  .weatherContainer .rightContent {
    border-radius: 0 0 10px 10px;
  }
  .weatherContainer .leftContent {
    border-radius: 10px 10px 0 0;
  }
}
@media screen and (max-width: 530px) {
  .forecast {
    padding: 3rem 0;
    width: 150px;
    display: flex;
    justify-content: center;
  }
  .weatherContainer .rightContent {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0;
    row-gap: 0;
    width: 450px;
  }
  .weatherContainer .leftContent {
    width: 450px;
  }
  .searchBox input {
    width: 250px;
  }
  .searchBox input:focus {
    width: 255px;
  }
}
